#Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
nachos
Makefile
coff2noff
vm
*.s

#test executables
code/test/badID
code/test/execAndJoinFib
code/test/fib
code/test/forkHalt
code/test/fourExecs
code/test/halt
code/test/matmult
code/test/shell
code/test/sort
code/test/sortLoop

#Vim weeds
*~
